* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F17083;
}

nav {
  background-color: #CE4257;
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 3fr;
}
nav .nav__link {
  background-color: #CE4257;
  width: 150px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 30vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}